<h1>hello world</h1>
<form action="/process" method="post">
<label for="nom">Quel est votre nom ?</label>
<input type="text" id="nom" name="input">
<input type="submit" value="Envoyer le formulaire" />
</form>